{% extends "index.html" %}

{% block content %}

{% from "_formhelpers.html" import render_field %}
<form method=post>
  <dl>
    {{ render_field(form.model) }}
    {{ render_field(form.doors) }}
    {{ render_field(form.year) }}
    {{ render_field(form.price) }}
  </dl>
  <p><input type=submit value=Register>
</form>
{% endblock %}
